.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  color: #fff;
  background: url("bg.jpg") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', helvetica, serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.social-icons > a {
  position: relative;
  padding-top: 5%;
  display: inline-block;
  display: -moz-inline-box;
  align-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  color: inherit;
}

.social-icons > a:hover {
  color: #61dafb;
  transition: 0.5s;
}